<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping-cart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
      <link href='https://fonts.googleapis.com/css?family=Afacad' rel='stylesheet'>
    <style>
        * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Afacad', sans-serif;
  line-height: 1.6;
}

/* Header Styling */
header {
  background-color: #0f5256;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Top Nav (Logo, Search Bar, Icons) */
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  max-width: 1200px;
  margin: 0 auto;
  
}

/* Logo and Search Container */
.logo-search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  width: 110px;
  margin-right: 10px; 
}

.search-bar {
  display: flex;
  flex-grow: 1;
}

.search-bar input {
  width: 100%;
  padding: 8px 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.search-bar button {
  background-color: #69ba6b;
  border: none;
  padding: 8px 15px;
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.nav-icons {
  display: flex;
  align-items: center;
}
.cart-icon,.profile-icon:hover{
 color: rgb(184, 180, 180);
}
.nav-icons a,
.hamburger-btn {
  color: white;
  font-size: 1.5rem;
  margin-left: 20px;
}

.cart-icon {
  display: flex;
  align-items: center; 
  position: relative; 
}

/* Cart Count Styles */
.cart-icon .cart-count {
  position: absolute;
  top: -10px; 
  right: -10px; 
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 0.8rem;
}


/* Login Button */
.login-btn {
  background-color: white;
  color: #275360;
  padding: 7px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  margin-left: 20px;
  cursor: pointer;
  border: none;
 
  transition: 0.15s ease;
}

.login-btn:hover {
  background-color: #bdfcbe;
  color: #388e3c;
  font-weight: bold;
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.8); 
}

/* logout button */
.logout-btn{
  background-color: white;
  color: #275360;
  padding: 7px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  margin-left: 20px;
  cursor: pointer;
  border: none;
}

.logout-btn:hover{
  background-color: rgb(248, 195, 195);
  color: #d9534f;
  font-weight: bold;
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.8); 
}

/* Bottom Nav (Helpline and Links) */
.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #09343c;
  padding: 10px 20px;
}

.helpline {
  color: #fff;
  font-size: 20px;
}
.helpline a {
  margin-right: 10px; 
  text-decoration: none;
}

.helpline a i {
  color: #fff;
  font-size: 25px;
}
.helpline a i:hover{
  color: rgb(184, 180, 180);
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
}
.nav-links a.nav-active {
  color: #69ba6b; 
  font-weight: bold;
}
.nav-links a:hover {
  color: #69ba6b;
}

/* Hamburger Icon Styling */
.hamburger-btn {
  display: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}


/* Mobile Styling */
@media (max-width: 768px) {

  .top-nav {
    flex-direction: column;
    align-items: flex-start; 
  }

  .logo-search-container {
    width: 100%;
    justify-content: center; 
  }

  /* Search Bar Full Width */
  .search-bar {
    width: 80%; 
    margin: 10px 0;
  }
  .helpline{
    margin: auto;
  }
  
  .nav-icons {
    display: flex;
    justify-content: space-between;
    width: 100%; 
  }

  .hamburger-btn {
    margin-right: auto; 
  }
  .login-btn{
    margin: 0;
  }
 
  .hamburger-btn {
    display: block;
  }

 
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 15px;
    background-color: #0f5256;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px;
  }

 
  .nav-links.show-menu {
    display: flex;
  }
 
.horizontal-line {
  width: 100%;
  height: 1px; 
  background-color: #69ba6b;
  margin: 10px 0; 
}

hr {
  width: 100%;
  height: 1px; 
  background-color: #69ba6b; 
  border: none; 
  margin: 10px 0; 
}

}


         /* css for shopping-page */
        .product-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 65%; 
            padding: 0;
            margin-top: 70px;
        }

        .product {
            background-color: #fff;
            margin: 10px;
            padding-top: 15px;
            border-radius: 8px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
            max-width: 300px;
            flex: 1 1 calc(33.333% - 40px);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .product:hover {
            transform: translateY(-10px);
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
        }

        .product-image {
            width: 80%;
            height: auto;
            border-radius: 8px;
            transition: transform 0.3s ease;
        }

        .product:hover .product-image {
            transform: scale(1.05);
        }

        .product-name {
            font-size: 1.5em;
            transition: color 0.3s ease;
        }

        .product:hover .product-name {
            color:#0f5256 ;
        }

        .product-description {
            font-size: 1em;
            color: #888;
           
        }

        .product-price {
            font-size: 1.2em;
            color: #888;
            margin: 10px 0;
            font-weight: bold;
        }
   /* Quantity and Remove Button Row */
.quantity-remove-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

/* Quantity Container */
.quantity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    overflow: hidden;
    width: auto;
}

/* Quantity Buttons */
.decrease-btn, .increase-btn {
    background-color: #f1f1f1;
    color: #333;
    border: none;
    padding: 8px 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hover effect for buttons */
.decrease-btn:hover, .increase-btn:hover {
    background-color: #e0e0e0;
}

/* Quantity Input */
.quantity-input {
    width: 50px;
    text-align: center;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #f9f9f9;
    height: 40px;
}


        .remove-btn {
    display: inline-block;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #e73827, #a7220a); 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}


.remove-btn:hover {
    background: linear-gradient(135deg, #a7220a, #e73827); 
    box-shadow: 0 6px 15px rgba(255, 68, 68, 0.4); 
}


.remove-btn::after {
    content: '>';  
    font-size: 1.2em;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: right 0.3s ease;
}


.remove-btn:hover::after {
    right: 15px;
}

/* Main shopping cart container */
.shopping-cart {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}




/* Cart summary section */
.cart-summary {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 30%;
    position: sticky;
    top: 80px;
    text-align: center; 
    margin-top: 80px;
}

.cart-summary h2 {
    font-size: 30px;
    margin-bottom: 15px;
    color: black;
    font-weight: bold;
}


.summary-details {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
    line-height: 1.6;
}

.summary-details p {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary-details i {
    margin-right: 10px;
    color: #333;
    font-size: 1.2em;
}

.promo-code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.promo-code input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
}

.promo-code .apply-btn {
    padding: 10px 20px;
    background-color: #0f5256;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.promo-code .apply-btn:hover {
    background-color: #09343c;
}

.divider {
    width: 100%;      
    height: 8px;       
    background-color: #0f5256;  
    border-radius: 20px; 
    margin: 20px 0;   
}


/* Checkout button */

.checkout-btn {
    width: 100%;
    padding: 15px;
    background-color: #0f5256;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.checkout-btn:hover {
    background-color: #09343c;
}

/* Checkout Form Styles */
.form-checkout {
  margin-bottom: 10px;
}

.checkout-form {
  padding: 10px; 
  background-color: #fff;
  border-radius: 10px;
  max-width: 400px;
  margin: 20px auto; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  border-left: 4px solid #0f5256; 
}

.checkout-form h2 {
  text-align: center;
  font-size: 20px;
  color: #0f5256;
  margin-bottom: 12px; 
  font-weight: 600;
}

.checkout-form label {
  font-size: 14px; 
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.checkout-form input,
.checkout-form select {
  width: 100%;
  padding: 8px; 
  margin-bottom: 12px; 
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px; 
  background-color: #fff;
  transition: border 0.3s ease;
  box-sizing: border-box;
}

.checkout-form input:focus,
.checkout-form select:focus {
  border-color: #0f5256;
  outline: none;
  box-shadow: 0 0 5px rgba(15, 82, 86, 0.2);
}

.checkout-form button {
  width: 100%;
  background: linear-gradient(135deg, #0f5256, #09343c);
  color: white;
  font-size: 16px;
  padding: 10px; 
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.checkout-form button:hover {
  background: linear-gradient(135deg, #09343c, #0f5256);
  box-shadow: 0 3px 8px rgba(15, 82, 86, 0.25);
}

.checkout-form .row {
  display: flex;
  gap: 8px; 
}

.checkout-form .row input {
  flex: 1;
}




/* Responsive Styles */
@media (max-width: 768px) {
    .shopping-cart{
        padding: 10px;
    }
    .product-container {
        width: 100%; 
      
        margin-top: 170px;
    }

    .cart-summary {
        width: 100%;
        margin-top: 20px;
       
    }
    .product {
        flex: 1 1 calc(100% - 40px);
    }
    .form-checkout{
      padding: 10px;
    }
    .checkout-form {
    padding: 8px;
    margin: 15px auto;
  }

  .checkout-form h2 {
    font-size: 18px;
  }

  .checkout-form .row {
    flex-direction: column;
    gap: 5px;
  }
   
    
}



        
      /* css for footer */
footer {
  position: relative;
  background-image: url(../images/assest/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 40px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background: #0f5256;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  padding: 20px;
  min-width: 250px;
}

.logo-text {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.footer-section h2 {
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  color: #fff;
}

.footer-section h2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background: #fff;
  bottom: -5px;
  left: 0;
}

.footer-section p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #fff;
}

.contact span,
.socials a {
  display: block;
  margin: 10px 0;
  font-size: 16px;
}

.socials a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.socials a:hover {
  color: #d4d4d4;
}

.footer-section.links ul {
  list-style: none;
  padding: 0;
}

.footer-section.links ul a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
  font-size: 16px;
  transition: color 0.3s;
}

.footer-section.links ul a:hover {
  text-decoration: underline;
  color: #d4d4d4;
}

.contact-form .text-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
}

.contact-form .btn {
  display: inline-block;
  padding: 15px 30px;
  background: #fff;
  color: #0f5256;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s, color 0.3s;
}

.contact-form .btn:hover {
  background: #0f5256;
  color: #fff;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  background: #0f5256;
  font-size: 18px;
}

/* Responsive Design */
@media (max-width: 768px) {


  .footer-content {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  .footer-section {
    padding: 10px;
    min-width: 100%;
  }
}

@media (max-width: 480px) {
  
  .logo-text {
    font-size: 24px;
  }

  .footer-section h2 {
    font-size: 18px;
  }

  .footer-section p,
  .contact span,
  .socials a,
  .footer-section.links ul a {
    font-size: 14px;
  }

  .contact-form .text-input,
  .contact-form .btn {
    font-size: 14px;
    padding: 10px;
  }
}
    </style>
</head>
<body>
  
    <!-- Header Section -->
<header>
  <nav class="navbar">
    <div class="top-nav">
     
      <div class="logo-search-container">
        <a href="#" class="logo">
          <img src="../images/assest/vegiefy-logo.png" alt="Vegiefy Logo">
        </a>
        <div class="search-bar">
          <input type="text" placeholder="Search for products...">
          <button><i class="fas fa-search"></i></button>
        </div>
      </div>
      
      <div class="horizontal-line"></div>
   
      <div class="nav-icons">
        <div class="hamburger-btn">
          <i class="fas fa-bars"></i>
        </div>
        <a href="/cart" class="cart-icon">
          <i class="fas fa-shopping-cart"></i>
          <span class="cart-count"><%=cartcount%></span>
        </a>
        <a href="/user/profile" class="profile-icon">
          <i class="fas fa-user"></i>
        </a>
        <% if(req.user){ %>
          <a href="/user/logout" ><button class="logout-btn" >LOG OUT</button></a>
          <%}else{%>
            <a href="/login"><button class="login-btn">LOG IN</button></a> 
            
          <%}%>
      </div>
    </div>

    <!-- Bottom Navigation: Helpline & Links -->
    <div class="bottom-nav">
      <div class="helpline">
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-square-facebook"></i></i></a>
    <!-- <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-square-twitter"></i></i></a> -->
    <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-square-instagram"></i></i></a>
    <!-- <a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a> -->
    <i class="fa-solid fa-phone"></i><span>+91-8698105221</span>
      </div>

     <!-- Navigation Links -->
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
              <li><a href="/#about-us">About</a></li>
              <li><a href="/product"  >Products</a></li>
              <li><a href="/cart" class="nav-active">Cart</a></li>
              <li><a href="/delivery">Delivery</a></li>
              <li><a href="/blog"  >Blog</a></li>
              <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>

<!-- html for shopping-cart -->
    <div class="shopping-cart">
        <div class="product-container">
        
            <% user.cart.forEach(items => {%>
            <div class="product">
                <img src="../images/uploads/<%=items.product.image%>" alt="Product Image" class="product-image">
                <h2 class="product-name"><%=items.product.name%></h2>
                <p class="product-description"><%= items.product.description %>.</p>
                <p class="product-price">₹<%=items.product.price * items.quantity%></p>
                <% if(limit){ %>
                     <p style="color: red;"><%=limit%></p>
                  <% }%>
                <div class="quantity-remove-container">
                  <!-- Quantity Selector -->
                  <div class="quantity-container">
                    <a href="/user/quantity/dec/<%=items.product._id%>" style="text-decoration: none;"><button class="decrease-btn">-</button></a>
                      <input type="number" class="quantity-input" value="<%=items.quantity%>" max="5" readonly><p>Kg</p>
                      <a href="/user/quantity/inc/<%=items.product._id%>" style="text-decoration: none;"><button class="increase-btn">+</button></a>
                  </div>
          
                  <!-- Remove Button -->
                  <a class="remove-btn" href="/user/removeitem/<%=items._id%>">Remove</a>
             
        
              </div>
            </div>
            <% }) %>
    
        </div>
    
        <div class="cart-summary">
            <h2>Cart Summary</h2>
    
            <div class="summary-details">
                <p><i class="fas fa-box"></i> Total Items: <%=cartcount%></p>
                <p><i class="fas fa-money-bill-wave"></i> Subtotal: ₹<%=carttotal%></p>
                <p><i class="fas fa-percent"></i> Discount: 3%</p>
                <p><i class="fas fa-truck"></i> Shipping:free</p>
                <p><i class="fa-solid fa-indian-rupee-sign"></i> Total Price:₹<%=carttotal-carttotal/100*3%></p>
            </div>
        
            <!-- Promo code input -->
            <div class="promo-code">
                <input type="text" placeholder="Enter discount code" />
                <button class="apply-btn">Apply</button>
            </div>
            <div class="divider"></div>
        
            <button class="checkout-btn" onclick="showCheckoutForm()">Proceed to Checkout</button>
        </div>
        
    </div>
 <!-- Checkout Form -->
<div class="form-checkout">
  <div class="checkout-form" id="checkoutForm" style="display: none;">
    <h2>Checkout</h2>
    <form id="myForm" action="/user/createOrder" method="post">
      
      <!-- Name Section -->
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="<%=user.name%>" required>
      
     
      <label for="houseBuilding">Address:</label>
      <input type="text" id="houseBuilding" name="houseBuilding" placeholder="House No.,Building Name" required>
      <input type="text" id="roadName" name="roadName" placeholder="Road Name, Area, Colony" required>
      
   
      <div class="row">
        <div>
          <label for="district">District:</label>
          <input type="text" id="district" name="district" required>
        </div>
        <div>
          <label for="city">City:</label>
          <input type="text" id="city" name="city" required>
        </div>
        <div>
          <label for="pinCode">Pin Code:</label>
          <input type="text" id="pinCode" name="pinCode" required>
        </div>
      </div>
      
     
      <label for="phone">Phone:</label>
      <input type="tel" id="phone" name="phone" required>
      
      
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" value="<%=user.email%>" required>
      
  
      <label for="paymentMode">Payment Mode:</label>
      <select id="paymentMode" name="paymentMode" required>
        <option value="cashOnDelivery">Cash on Delivery</option>
      </select>
      
     
      <button type="submit" class="submit-btn">Submit</button>
      
    </form>
  </div>
</div>

  </div>
</div>





     <!-- footer section -->
     <footer>
        <div class="footer-content">
          <div class="footer-section about">
            <h2 class="logo-text">Vegiefy Organics Farming</h2>
            <p>Sustainable and fresh hydroponically grown produce delivered straight to your table.</p>
            <div class="contact">
              <span><i class="fas fa-phone"></i> &nbsp; +91-8698105221</span>
              <span><i class="fas fa-envelope"></i> &nbsp; support@vegiefy.com</span>
              <span><i class="fas fa-map-marker-alt"></i> &nbsp; Chandrashekar Ward Gondia</span>
            </div>
            <div class="socials">
              <a href="#"><i class="fab fa-facebook"></i>&nbsp; Facebook</a>
              <a href="#"><i class="fab fa-twitter"></i>&nbsp; Twitter</a>
              <a href="#"><i class="fab fa-instagram"></i>&nbsp; Instagram</a>
              <a href="#"><i class="fab fa-linkedin"></i>&nbsp; Linkedin</a>
            </div>
          </div>
          <div class="footer-section links">
            <h2>Quick Links</h2>
            <ul>
              <a href="/#about-us" ><li>About Us</li></a>
              <a href="/product"><li>Products</li></a>
              <a  href="/blog"><li>Blog/News</li></a>
              <a  href="/delivery"><li>Delivery</li></a>
              <a href="/contact" ><li>Contact Us</li></a>
              <a href="/delivery#faq"><li>FAQs</li></a>
            </ul>
          </div>
          <div class="footer-section contact-form">
            <h2>Contact Us</h2>
            <form action="index.html" method="post">
              <input type="email" name="email" class="text-input contact-input" placeholder="Your email address...">
              <textarea name="message" class="text-input contact-input" placeholder="Your message..."></textarea>
              <button type="submit" class="btn btn-big contact-btn">
                <i class="fas fa-envelope"></i>
                Send
              </button>
            </form>
          </div>
        </div>
        <div class="footer-bottom">
          &copy; www.vegiefy.com 
        </div>
      </footer>
    <script>

         // js for nav bar Mobile menu toggle
 const hamburgerBtn = document.querySelector('.hamburger-btn');
 const navbarMenu = document.querySelector('.nav-links');
 
 hamburgerBtn.addEventListener('click', () => {
   navbarMenu.classList.toggle('show-menu');
 });
 
 document.querySelectorAll('.nav-links a').forEach(link => {
   link.addEventListener('click', function() {
     // Remove active class from all links
     document.querySelector('.nav-active')?.classList.remove('nav-active');
     
     // Add active class to the clicked link
     this.classList.add('nav-active');
   });
 });
// -----------------------------------------------------------------------
    // js for checkout form
    function showCheckoutForm() {
    var form = document.getElementById('checkoutForm');
    form.style.display = 'block';
    form.scrollIntoView({ behavior: 'smooth' });
}

document.getElementById('myForm').addEventListener('submit', function(event) {
        
        alert("Form is being submitted");
        document.getElementById('myForm').submit();
    });

   // Select all quantity containers

    // -----------------------------------------------------------------------------------------------------
      // js for footer section
      document.addEventListener("DOMContentLoaded", function () {
                const btn = document.querySelector('.contact-btn');
    
                btn.addEventListener('click', function (e) {
                    e.preventDefault();
                    alert('Your message has been sent!');
                });
            });
        </script>
</body>
</html>