<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping-cart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
      <link href='https://fonts.googleapis.com/css?family=Afacad' rel='stylesheet'>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: 'Afacad';
            background-color:  #ecf7f0;
        }
        /* css for navigation bar  */
        header {
  position: fixed;
  top: 0;
  left : 0;
  width: 100%;
  z-index: 1000;
  background-color: #0f5256;
  line-height: 1.5;
}

.navbar {
  display: flex;
  padding: 10px 0;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.navbar .hamburger-btn {
  display: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
}

.navbar .logo {
  gap: 10px;
  display: flex;
  align-items: center;

}

.navbar .logo img {
  width: 110px;

}


.navbar .links {
  display: flex;
  gap: 35px;
  list-style: none;
  align-items: center;
  
  
}

.navbar .close-btn {
 
  display: none;
 
}

.navbar .links a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: 0.1s ease;
  text-transform: capitalize;
 
}
.navbar .links a.active,
.navbar .links a:hover {
  color: #69ba6b;
}
.profile-loginout-container {
  display: flex;      
  align-items: center; 
  gap: 10px;         
}
.profile-img {
  width: 22px;   
  height: 22px;
  object-fit: cover; 
  margin-top: 10px;
}
.navbar .login-btn {
  border: none;
  outline: none;
  background: white;
  color: #275360;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.15s ease;
}

.navbar .login-btn:hover {
  background-color: #69ba6b;
  color: white;
}
.logout-btn{
  border: none;
  outline: none;
  background: white;
  color: #275360;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.15s ease;
  text-decoration: none;
}

.logout-btn:hover{
  background-color: #ffefef; 
  color: #d9534f;
}


@media (max-width: 768px) {
  .navbar :is(.hamburger-btn, .close-btn) {
      display: block;
      font-size: 30px;
      color: white;
      margin-left: 20px;
  }
  .navbar .close-btn {
    position: absolute;
      left: 0; 
      top: 25px;
      display: block;
      color: #fff;
      cursor: pointer;
}
  .navbar {
      padding: 15px 0;
  }

  .navbar .logo img {
      display: flex;
      width: 130px;
      margin-left: 40px;
  }

  .navbar .logo h2 {
      font-size: 1.4rem;
  }

  .navbar .links {
      position: fixed;
      top: 0;
      z-index: 10;
      left: -100%;
      display: block;
      height: 100vh;
      width: 100%;
      padding: 20px;
      padding-top: 60px;
      text-align: left;
      background: #0f5256;
      opacity: 0.9;
      color: white;
      transition: 0.2s ease;
  }

  .navbar .links.show-menu {
      left: 0;
  }

  .navbar .links a {
      display: inline-flex;
      margin: 10px 0;
      font-size: 25px;
      color: white;
  }

  .navbar .links a:hover {
      color: #09343c;
  }

  .navbar .login-btn {
      font-size: 0.9rem;
      padding: 7px 10px;
      margin-right: 10px;
  }
  .profile-loginout-container {
    margin-right: 10px;
  }
}


         /* css for prodcut-cart */
        .product-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 65%; 
            padding: 0;
            margin-top: 80px;
        }

        .product {
            background-color: #fff;
            margin: 10px;
            padding-top: 15px;
            border-radius: 8px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
            max-width: 300px;
            flex: 1 1 calc(33.333% - 40px);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .product:hover {
            transform: translateY(-10px);
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
        }

        .product-image {
            width: 80%;
            height: auto;
            border-radius: 8px;
            transition: transform 0.3s ease;
        }

        .product:hover .product-image {
            transform: scale(1.05);
        }

        .product-name {
            font-size: 1.5em;
            margin: 10px 0;
            transition: color 0.3s ease;
        }

        .product:hover .product-name {
            color:#0f5256 ;
        }

        .product-description {
            font-size: 1em;
            color: #888;
            margin: 10px 5px;
        }

        .product-price {
            font-size: 1.2em;
            color: #888;
            margin: 10px 0;
            font-weight: bold;
        }
        .remove-btn {
    display: inline-block;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #e73827, #a7220a); 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}


.remove-btn:hover {
    background: linear-gradient(135deg, #a7220a, #e73827); 
    box-shadow: 0 6px 15px rgba(255, 68, 68, 0.4); 
}


.remove-btn::after {
    content: '>';  
    font-size: 1.2em;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: right 0.3s ease;
}


.remove-btn:hover::after {
    right: 15px;
}

/* Main shopping cart container */
.shopping-cart {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap;
    gap: 20px;
}




/* Cart summary section */
.cart-summary {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 30%;
    position: sticky;
    top: 80px;
    text-align: center; 
    margin-top: 80px;
}

.cart-summary h2 {
    font-size: 30px;
    margin-bottom: 15px;
    color: black;
    font-weight: bold;
}


.summary-details {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
    line-height: 1.6;
}

.summary-details p {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary-details i {
    margin-right: 10px;
    color: #333;
    font-size: 1.2em;
}

.promo-code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.promo-code input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
}

.promo-code .apply-btn {
    padding: 10px 20px;
    background-color: #0f5256;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.promo-code .apply-btn:hover {
    background-color: #09343c;
}

.divider {
    width: 100%;      
    height: 8px;       
    background-color: #0f5256;  
    border-radius: 20px; 
    margin: 20px 0;   
}


/* Checkout button */

.checkout-btn {
    width: 100%;
    padding: 15px;
    background-color: #0f5256;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.checkout-btn:hover {
    background-color: #09343c;
}

/* Checkout Form Styles */
.form-checkout{
  margin-bottom: 20px;
}
.checkout-form {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkout-form h2 {
    text-align: center;
    font-size: 24px;
    color: #0f5256;
    margin-bottom: 15px;
    
}

.checkout-form label {
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.checkout-form input,
.checkout-form select {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    box-sizing: border-box;
    transition: border 0.3s ease;
}

.checkout-form input:focus,
.checkout-form select:focus {
    border-color: #4CAF50;
    outline: none;
}

.checkout-form button {
    width: 100%;
    background: linear-gradient(135deg, #0f5256, #09343c);
    color: white;
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-form button:hover {
  background: linear-gradient(135deg, #09343c, #0f5256);
}

 /* Modal styles */
 .modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 300px; 
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Responsive Styles */
@media (max-width: 768px) {
    .shopping-cart{
        padding: 10px;
    }
    .product-container {
        width: 100%; 
      
        margin-top: 110px;
    }

    .cart-summary {
        width: 100%;
        margin-top: 20px;
       
    }
    .product {
        flex: 1 1 calc(100% - 40px);
    }
    .form-checkout{
      padding: 10px;
    }
    .modal-content{
      margin-top: 150px;
    }
   
    
}



        
      /* css for footer */
footer {
  position: relative;
  background-image: url(../images/assest/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 40px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background: #0f5256;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  padding: 20px;
  min-width: 250px;
}

.logo-text {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.footer-section h2 {
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  color: #fff;
}

.footer-section h2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background: #fff;
  bottom: -5px;
  left: 0;
}

.footer-section p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #fff;
}

.contact span,
.socials a {
  display: block;
  margin: 10px 0;
  font-size: 16px;
}

.socials a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.socials a:hover {
  color: #d4d4d4;
}

.footer-section.links ul {
  list-style: none;
  padding: 0;
}

.footer-section.links ul a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
  font-size: 16px;
  transition: color 0.3s;
}

.footer-section.links ul a:hover {
  text-decoration: underline;
  color: #d4d4d4;
}

.contact-form .text-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
}

.contact-form .btn {
  display: inline-block;
  padding: 15px 30px;
  background: #fff;
  color: #0f5256;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s, color 0.3s;
}

.contact-form .btn:hover {
  background: #0f5256;
  color: #fff;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  background: #0f5256;
  font-size: 18px;
}

/* Responsive Design */
@media (max-width: 768px) {


  .footer-content {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  .footer-section {
    padding: 10px;
    min-width: 100%;
  }
}

@media (max-width: 480px) {
  
  .logo-text {
    font-size: 24px;
  }

  .footer-section h2 {
    font-size: 18px;
  }

  .footer-section p,
  .contact span,
  .socials a,
  .footer-section.links ul a {
    font-size: 14px;
  }

  .contact-form .text-input,
  .contact-form .btn {
    font-size: 14px;
    padding: 10px;
  }
}
    </style>
</head>
<body>
  <header>
    <nav class="navbar">
        <span class="hamburger-btn material-symbols-rounded">menu</span>
        <a href="#" class="logo">
          <img src="../images/assest/vegiefy-logo.png" alt="logo">
           
        </a>
        <ul class="links">
            <span class="close-btn material-symbols-rounded">close</span>
            <li><a href="/" >home</a></li>
            <li><a href="/#about-us">about</a></li>
            <li><a href="/product">products</a></li>
            <li><a href="/cart" class="active">Cart</a></li>
            <li><a href="/delivery">delivery</a></li>
            <li><a href="/blog"  >blog</a></li>
            <li><a href="/contact">contact</a></li>
        </ul>
        <div class="profile-loginout-container">
          <% if (!req.user) {%>
              <a href="/login"><button class="login-btn">LOG IN</button></a>
              <%}else{ %>
                  <a class="profile-btn" href="/user/profile" style="text-decoration: none;">
                      <img src="./images/assest/profile-img.png" alt="User Profile" class="profile-img">
                    </a>
                  <h3><a class="logout-btn"  href="/user/logout" >Logout</a></h3>
                <%}%>
              </div>
    </nav>
</header>
    <div class="shopping-cart">
        <div class="product-container">
        
            <% user.cart.forEach(items => {%>
            <div class="product">
                <img src="../images/uploads/<%=items.image%>" alt="Product Image" class="product-image">
                <h2 class="product-name"><%=items.name%></h2>
                <p class="product-description"><%= items.description %>.</p>
                <p class="product-price">₹<%=items.price%></p>

                <a class="remove-btn" href="/user/removeitem/<%=items._id%>">Remove</a>
            </div>
            <% }) %>
    
        </div>
    
        <div class="cart-summary">
            <h2>Cart Summary</h2>
    
            <div class="summary-details">
                <p><i class="fas fa-box"></i> Total Items: <%=cartcount%></p>
                <p><i class="fas fa-money-bill-wave"></i> Subtotal: ₹<%=carttotal%></p>
                <p><i class="fas fa-percent"></i> Discount: 3%</p>
                <p><i class="fas fa-truck"></i> Shipping:free</p>
                <p><i class="fa-solid fa-indian-rupee-sign"></i> Total Price:₹<%=carttotal-carttotal/100*3%></p>
            </div>
        
            <!-- Promo code input -->
            <div class="promo-code">
                <input type="text" placeholder="Enter discount code" />
                <button class="apply-btn">Apply</button>
            </div>
            <div class="divider"></div>
        
            <button class="checkout-btn" onclick="showCheckoutForm()">Proceed to Checkout</button>
        </div>
        
    </div>
   
   <!-- Checkout form -->
   <div class="form-checkout">
    <div class="checkout-form" id="checkoutForm" style="display: none;">
        <h2>Checkout Form</h2>
        <form id="myForm" action="/user/createOrder" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%=user.name%>" required>
            
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" required>
            
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"  value="<%=user.email%>" required>
            
            <label for="paymentMode">Payment Mode:</label>
            <select id="paymentMode" name="paymentMode" required>
                <option value="cashOnDelivery">Cash on Delivery</option>
            </select>
            
            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>
</div>



     <!-- footer section -->
     <footer>
        <div class="footer-content">
          <div class="footer-section about">
            <h2 class="logo-text">Vegiefy Organics Farming</h2>
            <p>Sustainable and fresh hydroponically grown produce delivered straight to your table.</p>
            <div class="contact">
              <span><i class="fas fa-phone"></i> &nbsp; +91-8698105221</span>
              <span><i class="fas fa-envelope"></i> &nbsp; support@vegiefy.com</span>
              <span><i class="fas fa-map-marker-alt"></i> &nbsp; Chandrashekar Ward Gondia</span>
            </div>
            <div class="socials">
              <a href="#"><i class="fab fa-facebook"></i>&nbsp; Facebook</a>
              <a href="#"><i class="fab fa-twitter"></i>&nbsp; Twitter</a>
              <a href="#"><i class="fab fa-instagram"></i>&nbsp; Instagram</a>
              <a href="#"><i class="fab fa-linkedin"></i>&nbsp; Linkedin</a>
            </div>
          </div>
          <div class="footer-section links">
            <h2>Quick Links</h2>
            <ul>
              <a href="/#about-us" ><li>About Us</li></a>
              <a href="/product"><li>Products</li></a>
              <a  href="/blog"><li>Blog/News</li></a>
              <a  href="/delivery"><li>Delivery</li></a>
              <a href="/contact" ><li>Contact Us</li></a>
              <a href="/delivery#faq"><li>FAQs</li></a>
            </ul>
          </div>
          <div class="footer-section contact-form">
            <h2>Contact Us</h2>
            <form action="index.html" method="post">
              <input type="email" name="email" class="text-input contact-input" placeholder="Your email address...">
              <textarea name="message" class="text-input contact-input" placeholder="Your message..."></textarea>
              <button type="submit" class="btn btn-big contact-btn">
                <i class="fas fa-envelope"></i>
                Send
              </button>
            </form>
          </div>
        </div>
        <div class="footer-bottom">
          &copy; www.vegiefy.com 
        </div>
      </footer>
    <script>

           // js for navbar
const navbarMenu = document.querySelector(".navbar .links");
const hamburgerBtn = document.querySelector(".hamburger-btn");
const hideMenuBtn = navbarMenu.querySelector(".close-btn");
const showPopupBtn = document.querySelector(".login-btn");

// Show mobile menu
hamburgerBtn.addEventListener("click", () => {
    navbarMenu.classList.toggle("show-menu");
});

// Hide mobile menu
hideMenuBtn.addEventListener("click", () =>  hamburgerBtn.click());
// -----------------------------------------------------------------------
    // js for checkout form
    function showCheckoutForm() {
    var form = document.getElementById('checkoutForm');
    form.style.display = 'block';
    form.scrollIntoView({ behavior: 'smooth' });
}

document.getElementById('myForm').addEventListener('submit', function(event) {
        
        alert("Form is being submitted");
        document.getElementById('myForm').submit();
    });
    // -----------------------------------------------------------------------------------------------------
      // js for footer section
      document.addEventListener("DOMContentLoaded", function () {
                const btn = document.querySelector('.contact-btn');
    
                btn.addEventListener('click', function (e) {
                    e.preventDefault();
                    alert('Your message has been sent!');
                });
            });
        </script>
</body>
</html>